APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost/skillswap/public

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=skillswap
DB_USER=root
DB_PASS=

SESSION_SECRET=change_this_to_any_long_random_string_here
SESSION_SECURE=false
SESSION_LIFETIME=7200
SESSION_NAME=ss_session

RATE_LIMIT_LOGIN=5
RATE_LIMIT_WINDOW=900
